.grad {
  background: rgb(63, 60, 170);
  background: linear-gradient(
    90deg,
    rgba(63, 60, 170, 1) 4%,
    rgba(162, 67, 236, 1) 27%,
    rgba(162, 67, 236, 1) 61%,
    rgba(229, 26, 176, 1) 86%
  );
  background-size: 500% 100%;
  animation: anima-grad 4s infinite alternate;
}

@keyframes anima-grad {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
