body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'MadelynFill';
  src: local('MadelynFill'),
    url(./fonts/Madelyn/MadelynFill.otf) format('OpenType');
}
@font-face {
  font-family: 'Alesand';
  src: local('Alesand'),
    url(./fonts/Alesand/Alesand-Extra-Bold.otf) format('OpenType');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
